{% extends 'base.html' %}
{%  block title %}<title>Edit a user</title>{% endblock %}

{% block content %}
<h1>Edit a user</h1> 
<div class="user-detail">
    <form action="/users/{{user.id}}/edit" method="POST">
        <div class="create-user">
            <label for="first_name">First Name</label>
            <input class="form-control" type="text" name="first_name" value="{{user.first_name}}">
        </div>
        <div class="create-user">
            <label for="last_name">Last Name</label>
            <input class="form-control" type="text" name="last_name" value="{{user.last_name}}">
        </div>
        <div class="create-user">
            <label for="image_url">Image URL</label>
            {% if user.image_url == '/static/default.jpg' %}
            <input class="form-control" type="text" name="image_url" placeholder="Enter an image url">
            {% else %}
            <input class="form-control" type="text" name="image_url" value="{{user.image_url}}">
            {% endif %}
        </div>
        <div class="create-user-btn">
            <button type="submit" class="btn btn-outline-info" formmethod="GET" formaction="/">Cancel</button>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</div>   

{% endblock %}