{% extends 'base.html' %}
{%  block title %}<title>Post Detail</title>{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
<div class="post-container">
    {% for row in post.content.split('\r') %}
    <p>{{row}}</p>
    {% endfor %}
    <p>By {{user.full_name}} on {{post.created_at.strftime('%a %b %d %Y, %I:%M %p')}}</p>
</div>
<div>
    <p class="tags">
        Tags:
        {% for tag in post.tags %}
        <label class="label-tag">{{tag.name}}</label>
        {% endfor %}
    </p>
</div>
<form>
    <input type="hidden" name="title" value="{{post.title}}">
    <input type="hidden" name="content" value="{{post.content}}">
    <button type="submit" class="btn btn-outline-info" formaction="/" formmethod="GET">Cancel</button>

    <button type="submit" class="btn btn-primary" formaction="/posts/{{post.id}}/edit" formmethod="GET">Edit</button>

    <button type="submit" class="btn btn-danger" formaction="/posts/{{post.id}}/delete" formmethod="POST">Delete</button>        
</form>
{% endblock content %}
